<h3>Log in</h3>

<% form_tag(session_path, {:class => 'MainForm'}) do -%>

	<%= label_tag 'login' %>
	<%= text_field_tag 'login', @login %>

	<%= label_tag 'password' %>
	<%= password_field_tag 'password', nil %>

	<fieldset>
	<%= check_box_tag 'remember_me', '1', @remember_me %> Remember me
	</fieldset>

	<p><%= submit_tag 'Log in' %></p>
<% end -%>

<% content_for(:sidebar) do %>
	<div class="box">
		<h3>Help</h3>
		<p>
		Don't have an account?
		<br/>
		<%= link_to '» Click here to sign up', new_user_path %>
		</p>
		<p>
		Forgot your password?
		<br/>
		<%= link_to '» Click here to retrieve it', forgot_password_path %>
		</p>
	</div>
<% end -%>

<% content_for(:head) do %>
	<script type='text/javascript'>
	  document.getElementById('login').focus()
	</script>
<% end -%>