<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
 <title>Origin RESTful Authentication: 
  <%= controller.controller_name -%>:
  <%= controller.action_name -%>
 </title>
</head>
<body>
    <ul>
    <% if logged_in? %>
    <li>Logged in as:</li>
    <li><%= link_to h(current_user.login.capitalize), user_path(current_user) %></li>
    <ul>
    <li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
    <li><%= link_to 'Log Out', logout_url %></li>
    </ul>
    <% if current_user.has_role?('administrator') %>
    <li><%= link_to 'Administer Users', users_path %></li>
    <% end %>
    <% else %>
    <li><%= link_to 'Log In', new_session_path %></li>
    <li><%= link_to 'Sign Up', new_user_path %></li>
    <li><%= link_to 'Forgot Password?', forgot_password_path %></li>
    <% end %>
    </ul>
	  <div id="flashes">
	    <div id="errors" class="error" style="display:none"><%= flash[:error] %></div>
	    <div id="notice" class="notice" style="display:none"><%= flash[:notice] %></div>
	  </div>
    <%= yield %>
</body>
</html>
